//https://cdn.jsdelivr.net/gh/Just-Koi/web-note@latest/dist/webnote.css

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$regural: 'Roboto', sans-serif;

$fws: (100, 200, 300, 400, 500, 600, 700, 800, 900);

$spaces-sm: (2px, 4px, 8px, 10px, 15px);
$spaces: (1em, 2em, 3em, 4em, 5em);
$spaces-xl: (1rem, 2rem, 3rem, 4rem, 5rem);

$skyBlue: #56CBF9;
$QueenPink: #EAC5D8;
$ghostWhite: #F8F7FF;
$apricot: #FFD8BE;
$medPurple: #9381FF;
$colors: ($skyBlue, $QueenPink, $apricot, $medPurple, $ghostWhite);

img{
    border-radius: 8px;
}

.text-italic{
    font-style: italic;
}

.sqaure{
    font-size: .5em;
    position: relative;
    top: -.5rem;
}

.lower{
    font-size: .5em;
    position: relative;
    top: .25rem;
}

.img-fullwidth{
    width: 100vw;
}

.img-fluid{
    width: 100%;
}


@for $i from 1 through 5{
    $color: $i;
    
    @if ($color == 1) {
        .color-blue{
            color: nth($colors, 1);
        }
    } @else if ($color == 2) {
        .color-pink{
            color: nth($colors, 2);
        }
    } @else if ($color == 3) {
        .color-yellow{
            color: nth($colors, 3);
        }
    } @else if ($color == 4) {
        .color-purple{
            color: nth($colors, 4);
        }
    } @else if($color == 5) {
        .color-beige{
            color: nth($colors, 5);
        }
    }
}


.dark-note{
    background: #222;
    color: $ghostWhite;
}

.light-note{
    background: #efefef;
    color: #222;
}

.text-regural{
    font-family: $regural;
}

@for $i from 1 through 9 {
    .fw-#{$i * 100} {
        font-weight: nth($fws, $i);
    }
}

html{
    font-family: $regural;
    font-weight: nth($fws, 3);
}

.table,
table{
    border: 2px solid #ddd;
    padding: 5px 10px;
    border-radius: 8px;

    .table-heading,
    thead{
        font-size: 1.5em;
        font-weight: 800;
    }

    .table-row,
    tr{
        border: 2px solid #ddd;
        margin: 5px 0px;

        .table-cell,
        td{
            padding: 5px;

            &.cell-heading{
                font-weight: 800;
            }

            &.cell-item{
                font-weight: 400;
            }

        }

    }

}

ul{
    padding: 0;
}

.list-decimal{
    list-style: decimal;
}

.list-square{
    list-style: square;
}

.list-dash{
    list-style-type: "- ";
}

.list-arrow{
    list-style-type: "→ ";
}

.sm-px-0,
.px-0,
.xl-px-0{
    padding: 0 auto;
}

.sm-mx-0,
.mx-0,
.xl-mx-0{
    margin: 0 auto;
}

.sm-pl-0,
.pl-0,
.xl-pl-0{
    padding: 0 auto 0 0;
}

.sm-ml-0,
.ml-0,
.xl-ml-0{
    margin: 0 auto 0 0;
}

.sm-pr-0,
.pr-0,
.xl-pr-0{
    padding: 0 0 0 auto;
}

.sm-mr-0,
.mr-0,
.xl-mr-0{
    margin: 0 0 0 auto;
}

@for $i from 1 through 5{
    .sm-p-#{$i}{
        padding: nth($spaces-sm, $i);
    }
    .sm-py-#{$i}{
        padding: nth($spaces-sm, $i) 0;
    }
    .sm-px-#{$i}{
        padding: 0 nth($spaces-sm, $i);
    }
    .sm-pr-#{$i}{
        padding: 0 nth($spaces-sm, $i) 0 0;
    }
    .sm-pl-#{$i}{
        padding: 0 0 0 nth($spaces-sm, $i);
    }
    .sm-m-#{$i}{
        margin: nth($spaces-sm, $i);
    }
    .sm-my-#{$i}{
        margin: nth($spaces-sm, $i) 0;
    }
    .sm-mx-#{$i}{
        margin: 0 nth($spaces-sm, $i);
    }
    .sm-mr-#{$i}{
        margin: 0 nth($spaces-sm, $i) 0 0;
    }
    .sm-ml-#{$i}{
        margin: 0 0 0 nth($spaces-sm, $i);
    }
    .p-#{$i}{
        padding: nth($spaces, $i);
    }
    .py-#{$i}{
        padding: nth($spaces, $i) 0;
    }
    .px-#{$i}{
        padding: 0 nth($spaces, $i);
    }
    .pr-#{$i}{
        padding: 0 nth($spaces, $i) 0 0;
    }
    .pl-#{$i}{
        padding: 0 0 0 nth($spaces, $i);
    }
    .m-#{$i}{
        margin: nth($spaces, $i);
    }
    .my-#{$i}{
        margin: nth($spaces, $i) 0;
    }
    .mx-#{$i}{
        margin: 0 nth($spaces, $i);
    }
    .mr-#{$i}{
        margin: 0 nth($spaces, $i) 0 0;
    }
    .ml-#{$i}{
        margin: 0 0 0 nth($spaces, $i);
    }
    .xl-p-#{$i}{
        padding: nth($spaces-xl, $i);
    }
    .xl-py-#{$i}{
        padding: nth($spaces-xl, $i) 0;
    }
    .xl-px-#{$i}{
        padding: 0 nth($spaces-xl, $i);
    }
    .xl-pr-#{$i}{
        padding: 0 nth($spaces-xl, $i) 0 0;
    }
    .xl-pl-#{$i}{
        padding: 0 0 0 nth($spaces-xl, $i);
    }
    .xl-m-#{$i}{
        margin: nth($spaces-xl, $i);
    }
    .xl-my-#{$i}{
        margin: nth($spaces-xl, $i) 0;
    }
    .xl-mx-#{$i}{
        margin: 0 nth($spaces-xl, $i);
    }
    .xl-mr-#{$i}{
        margin: 0 nth($spaces-xl, $i) 0 0;
    }
    .xl-ml-#{$i}{
        margin: 0 0 0 nth($spaces-xl, $i);
    }
}

