@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$regural: 'Roboto', sans-serif;

$fws: (100, 200, 300, 400, 500, 600, 700, 800, 900);

$spaces: (1em, 2em, 3em, 4em, 5em);

.dark-note{
    background: #222;
    color: #efefef;
}

.light-note{
    background: #efefef;
    color: #222;
}

.text-regural{
    font-family: $regural;
}

@for $i from 1 through 9 {
    .fw-#{$i * 100} {
        font-weight: nth($fws, $i);
    }
}

html{
    font-family: $regural;
    font-weight: nth($fws, 3);
}

ul{
    padding: 0;
}

.decimal-list{
    list-style: decimal;
}

@for $i from 1 through 5{
    .p-#{$i}{
        padding: nth($spaces, $i);
    }
    .py-#{$i}{
        padding: nth($spaces, $i) 0;
    }
    .px-#{$i}{
        padding: 0 nth($spaces, $i);
    }
    .pr-#{$i}{
        padding: 0 nth($spaces, $i) 0 0;
    }
    .pl-#{$i}{
        padding: 0 0 0 nth($spaces, $i);
    }
    .m-#{$i}{
        margin: nth($spaces, $i);
    }
    .my-#{$i}{
        margin: nth($spaces, $i) 0;
    }
    .mx-#{$i}{
        margin: 0 nth($spaces, $i);
    }
    .mr-#{$i}{
        margin: 0 nth($spaces, $i) 0 0;
    }
    .ml-#{$i}{
        margin: 0 0 0 nth($spaces, $i);
    }
}