@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$regural: 'Roboto', sans-serif;

$fws: (100, 200, 300, 400, 500, 600, 700, 800, 900);

.dark-note{
    background: #222;
    color: #efefef;
}

.light-note{
    background: #efefef;
    color: #222;
}

.text-regural{
    font-family: $regural;
}

@for $i from 1 through 9 {
    .fw-#{$i * 100} {
        font-weight: nth($fws, $i);
    }
}

html{
    font-family: $regural;
    font-weight: nth($fws, 3);
}